audit=false
always-auth=true
strict-ssl=false

registry=https://sfera.inno.local/app/repo-ci-npm/api/repository/nsm-npm

@omni:registry=https://npm.repo-ci.sfera.inno.local/repository/tsac-npm-pub/
@omega:registry=https://sfera.inno.local/app/repo-ci-npm/api/repository/ibrb-npm-pub
